.body {
    padding: 30px;
    width: 100%;
    overflow-y: overlay;
    flex: 0.8;
    height: 100vh;
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(91, 87, 115);
  }

  .body_info{
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }

  .body_infoText{
    flex: 1;
  }

  .body_info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }

.body_icons{
  display: flex;
  align-items: center;
}

.body_icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body_shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body_songs{
  margin: 20px -30px;
  
}

.body_shuffle:hover{
  transition: 100ms transform ease-in;
  transform: scale(1.08)
}

  .body_infoText > h2{
    font-size: 48px;
    margin-bottom: 10px;
  }

  .body_infoText > p{
    font-size: 14px;
  }