.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header_left{
    flex: 0.5;
    min-width: 70px;
    background-color: white;
    color: grey;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header_left > input {
    border: none;
    width: 100%;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_right > h4{
    margin-left: 10px;
}