.sidebar{
    height: 100vh;
    flex: 0.2;
    color: white; 
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    background-color: #040404;
    min-width: 230px;
}

.sidebar_logo{
    margin-right: auto;
    height: 70px;
    padding: 10px;

}

.sidebar_title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}

